body{
	background: linear-gradient(270deg, rgba(255,253,105,1) 0%, rgba(255,0,194,1) 100%);
}

#title{
/*	text-align: center;*/
	position: relative;
	top: 20%;
	left: 5%;
/*	transform: translate(5%, -3%);*/
	font-family: 'Rock Salt', sans-serif;
	font-size: 70px;
	color: #5BC0EB;
	line-height: .4;
	text-shadow: 4px 4px #000000
/*	transition: -webkit-text-stroke-color 2s, color 2s;*/
}
/*#title:hover{
	color:transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}*/

#description{
	background-color: #9900cc;
	border-radius: 50px;
	color: white;
	position: relative;
	top: 20%;
	left: 50%;
	/*float: center;*/
	height: 220px;
	width: 600px;
	padding: 20px;
	font-size: 15px;
	font-family:'Lato';
}

.dasme{
	position: absolute;
	left: 13%;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
/*  margin-left: %; //centers the image*/
  height: 50%;
  width: auto;
}

.container{
	position: relative;
}