body{
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.landing_animation_container{
	width: 100%;
	height: 100%;
	background: white;
	position: fixed;
	top:0;
	left:0;
	z-index: 0;
	animation-name: background_animation;
	animation-duration: 1.5s;
	animation-fill-mode:forwards;
	animation-delay: 3s;
}

@keyframes background_animation {
	0%   {top: 0%;}
	100% {top: -100%;}
}

.main_title{
	color: black;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	letter-spacing: 3px;
	word-spacing: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#title{
	text-align: center;
	position: static;
	top: 80%;
	left: 50%;
/*	transform: translate(-50%, -50%);*/
	font-family: 'Rock Salt', sans-serif;
	font-size: 100px;
	color: white;
	transition: -webkit-text-stroke-color 2s, color 2s;
}
#title:hover{
	color:transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;

}

/* If the screen size is 600px wide or less, set the font-size of title to 
@media screen and (max-width: 700px) {
  #title {
    font-size: 80%;
}*/

.container {
/*	position: absolute;*/
/*	top: 10%;*/
/*	left:13%;*/
	overflow: hidden;
}

.navbar{
	float: center;
}
#links {
	text-align: center;
	padding:30px;
	font-family: 'Raleway';
	font-weight: bolder;
	font-size: 40px;
	word-spacing: 30px;
}

#home{
	float: left;
	display: inline;

}

#about{
	float: center;
	display: inline;
}

#work {
	float: right;
	display: inline;
}

.work_list{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	font-size: 28px;
  	color: white;
}

.navlink {
	color:white;
	text-decoration: none;
}