body{
	background: linear-gradient(270deg, rgba(255,253,105,1) 0%, rgba(255,0,194,1) 100%);
}

#title{
	text-align: center;
	/*position: relative;*/
/*	transform: translate(5%, -3%);*/
	font-family: 'Rock Salt', sans-serif;
	font-size: 70px;
	color: #5BC0EB;
	line-height: .4;
	text-shadow: 4px 4px #000000
/*	transition: -webkit-text-stroke-color 2s, color 2s;*/
}
/*#title:hover{
	color:transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}*/

#description{
	position: justify;
	float: center;
	height: 300px;
	width: 600px;
	font-size: 15px;
	font-family:'Lato';
}

#dasme{
	/*left: 20%;*/
	text-align: center;
}